@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
  outline: orange solid 1px;
} */
@font-face {
  font-family: "SECULARONE";
  src: url("../public/fonts/Secular_One/SecularOne-Regular.ttf");
}

body {
  margin: 0;
  font-family: "SECULARONE", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "SECULARONE", source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
